window {
	margin: 4px;
	background-color: rgba(0,0,0,0);
}

#input {
	margin: 4px;
	color: #abb2bf;
	background-color: #282c34;
	box-shadow: none;
	border: none;
}

#inner-box {
	border-radius: 4px 4px 4px 4px;
	background-color: #282c34;
	border 1px solid #353b45;
}

#outer-box {
	margin: 4px;
}

#scroll {
	margin: 4px;
}

#entry,
#text {
	font-family: Fira Code;
	font-size: 9pt;
	margin: 4px;
	color: #abb2bf;
	outline-style: none;
}

#entry:selected {
	color: #61afef;
	border-radius: 2px;
	background-color: inherit;
}

#entry:selected #text {
	color: #61afef;
}

.right {
	color: transparent;
}
