[Unit]
Description=Sway compositor session
Documentation=man:systemd.special
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
StartLimitBurst=5
StartLimitInterval=1000

[Service]
ExecStart=/usr/bin/systemd-run --scope --user --property=ManagedOOMPreference=omit /usr/bin/dbus-run-session /usr/bin/sway
ExecStop=/usr/bin/swaymsg exit
Restart=on-abnormal
RestartSec=120

[Install]
WantedBy=default.target
