[Unit]
Description=sway
Wants=graphical.target
After=graphical.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/sway

[Install]
WantedBy=default.target
