* {
	font-size: 9pt;
	font-family: 'Fira Code';
}

window#waybar {
	background: #353b45;
	color: #abb2bf;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #282c34;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #353b45;
	background: #282c34;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#network,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #282c34;
}

#workspaces button {
	padding: 0 2px;
	color: #abb2bf;
}
#workspaces button.focused {
	color: #61afef;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #282c34;
	border: #282c34;
	padding: 0 3px;
}

#pulseaudio {
	color: #61afef;
}
#network {
	color: #abb2bf;
}
#memory {
	color: #56b6c2;
}
#cpu {
	color: #c678dd;
}
#battery {
	color: #98c379;
}
#disk {
	color: #e5c07b;
}

#clock,
#pulseaudio,
#network,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
