* {
	font-size: 7pt;
	font-family: 'Fira Code';
}

window#waybar {
	background: #073642;
	color: #93a1a1;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #002b36;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #073642;
	background: #002b36;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#network,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #002b36;
}

#workspaces button {
	padding: 0 2px;
	color: #93a1a1;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #002b36;
	border: #002b36;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#network {
	color: #93a1a1;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#network,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
