* {
	font-size: 9pt;
	font-family: 'Fira Code';
	border-top: none;
	border-bottom: none;
	/* margin-top: -1px; */
	/* margin-bottom: -1px; */
}

window#waybar {
	background: #3B4252;
	color: #E5E9F0;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #3b4252;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #434c5e;
	background: #3b4252;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#network,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #434c5e;
}

#workspaces button {
	padding: 0 2px;
	color: #E5E9F0;
	border-radius: 0px;
}
#workspaces button.focused {
	color: #2E3440;
	background: #88C0D0;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	color: #2E3440;
	background: #81a1c1;
	border: #2E3440;
	padding: 0 3px;
}

#pulseaudio {
	color: #EBCB8B;
}
#network {
	color: #E5E9F0;
}
#memory {
	color: #D08770;
}
#cpu {
	color: #BF616A;
}
#battery {
	color: #A3BE8C;
}
#disk {
	color: #5E81AC;
}

#clock,
#pulseaudio,
#network,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
